<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DTo-Do List</title>
</head>
<body>
    <h1>Adicionar nova tarefa</h1>
    <form action="/create" method="POST">
        <input type="text" name="nome" required>
        <input type="text" name="descricao" required>
        <button type="submit">Criar tarefa</button>
    </form>
    <h1>Lista de tarefas</h1>
    <ul>
        {% for task in tasks %}
            <li>
                <form action="/update/{{task.id}}" method="POST" style="display: inline;">
                    <input type="text" name="nome" value="{{task.nome}}">
                    <input type="text" name="descricao" value="{{task.descricao}}">
                    <button type="submit">Atualizar</button>
                </form>
                <form action="/delete/{{task.id}}" method="POST" style="display: inline;">
                    <button type="submit">Deletar tarefa</button>
                </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>